/*
========================================
Global Styles
========================================
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #0D1C0D;
	background: #F5FCF6;
}

/*
========================================
Layout
========================================
*/
